<div class="container p-5">
   <h2 class="text-center"><%= @list.name %></h2>
  <div class="row">
    <% @list.movies.each do |movie| %>
      <% bookmark = Bookmark.find_by(list: @list, movie: movie) %>
      <div class="col-sm-4 p-5">
        <div class="card">
         <%= image_tag movie.poster_url %>
            <div class="card-body">
              <h5 class="card-title"><%= movie.title %></h5>
              <p class="card-text"><%= movie.overview %><%= link_to "x", bookmark_path(bookmark), method: :delete, data: { confirm: "Are you sure you want to remove #{movie.title} from your #{@list.name} list"} %></p>
            </div>
            <div class="card-footer">
               <small class="text-muted">Last updated 3 mins ago</small>
            </div><!--.footer-->
        </div><!--.card-->
      </div><!--.col-->
    <% end %>
  </div><!--.row-->
  <div class="links text-center">
    <%= link_to "add new bookmark", new_list_bookmark_path(@list), class: "btn btn-flat" %>
    <%= link_to "return", lists_path, class: "btn btn-flat" %>
   <%= link_to "delete this list", list_path(@list), method: :delete, class: "btn btn-cancel btn btn-flat", data: { confirm: "Are you sure you want to delete this list?" } %>
  </div><!--.links-->
</div><!--.container>
